<div class="context">
  <p class="txt-time">{{time | date:'mediumTime'}}</p>
  <p class="txt-greetings">{{msg}} , Boom</p>
  <p class="txt-suggestion">Open <span><a href="{{link}}" target="_blank">This</a></span> if you bored</p>
  <p class="txt-suggestion">some left <span><a href="http://192.168.0.184:32000" target="_blank">jenkins</a></span> some right</p>
</div>


<div class="area">
  <ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>